# pymumble==1.7 - pymumble 1.7 was unreleased, so use the git commit for now.
git+https://github.com/azlux/pymumble/@7d203c5a9d0f1a628b6272699bf4c4a0a69fe44b


python-dotenv
validators
toml

fuzzywuzzy
python-Levenshtein
beautifulsoup4
requests
Pillow
youtube-dl
